.expense-form{
	padding: 10px;
    border-radius: 10px;
	color: white;
    background-color: #79309b;
}

form label{
	padding: 5px;
	font-size: 20px;
}

form input {
	padding: 5px;
	border: none;
	border-radius: 20px;
	border-bottom: 1px solid white;
}

input:focus {
	padding: 5px;
	outline: none;
	border-bottom: 2px solid white;
}

/* ::placeholder {
	color: purple;
  } */

  input[type="date"]:focus:before {
	content: '' !important;
  }

.grid{
	width: 45%;
	padding: 10px;
	display: inline-flex;
}

.expense-buttons{
	margin-top: 10px;
	display: flex;
 	flex-direction: row-reverse;
}

.button{
	justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: auto;
	color: white;
    background-color: purple;
}

@media only screen and (max-width: 700px) {
    .expense-buttons {
		display: flex;
		flex-direction: column;
	}

	.grid{
		padding: 10px;
		display: flex;
	}
}

@media only screen and (max-width: 1100px) {
	.grid{
		width: auto;
	}
}